body{
background: #212F3D;
 --light: #641E16;
 --dark: #C0392B;
 --text: White;
}

h1{
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}

button{
    display:block;
    margin-left: auto;
    margin-right: auto;
     display: inline;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 150px;
    height: 40px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 60;
    color: var(--text);
    background-size: 400% 400%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 10px;
}
button:hover{
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 4px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}

.count{
    position: relative;
    top: 8px;
}
textarea{
    font-size: 15px;
    overflow-y: scroll;
}






